<section class=" container rule-banner"> 
    <div class="row">
            <div class="col-md-12 image">
                <div class="col-md-6 rule-info">
                    <h3 class="header">Rules and   
                    <span>Guidelines</span></h3>
                    <!-- star2 -->
                    <img class="faded" src="/assets/images/star-faded.png" alt="faded-star"> 
                    <p>Our tech hackathon is a melting pot of visionaries, and its purpose is as
                        clear as day: to shape the future. Whether you're a coding genius, a 
                        design maverick, or a concept wizard, you'll have the chance to transform 
                        your ideas into reality. Solving real-world problems, pushing the boundaries
                        of technology, and creating solutions that can change the world,
                        that's what we're all about!</p>
                        <!-- star -->
                        <img class="star" src="/assets/images/star.png" alt="star">
                </div>
                <div class="col-md-6 rule" >
                    <svg class="ellipse" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="67" cy="67" r="67" fill="url(#paint0_linear_70_6)"/>
                        <defs>
                        <linearGradient id="paint0_linear_70_6" x1="134" y1="67" x2="3.69183" y2="67" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#8F01FE"/>
                        <stop offset="1" stop-color="#FF2674"/>
                        </linearGradient>
                        </defs>
                        </svg>
                    
                    <img class="woman" src="/assets/images/rules.png" alt="woman">
                        
                </div>
                
            </div>
    </div>
</section>
