.intro{
    display: flex;
    height: 617px;; 

}

.straw {
    width: 49.43px;
    height: 57.974px;
    margin: 420px 0 0 -30px;

}

.idea {
    width: 490px;
    height: 477px;
    position: relative;
    
}

