.navbar {
    padding: 25px 170px 10px 320px;
    align-items: center;
    margin-bottom: 0;
}

.navbar-nav{
    margin-right: 90px;
}

.navbar-nav .nav-item {
    margin-left: 40px;
}
.navbar-nav .nav-item a {
    color: #fff;
}

/* home */
.home{ 
    position: relative;
}
.section {
    height: 800px;
}


/* .star-one {
    position: absolute;
    top:15%;
    left:9%;
    color: #fff;
} */
.head{
    position: relative;
    top: 0px;
    left:46%;
    margin-bottom: 30px;
}
.header{
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 3px;
}
.head svg{
    margin:-50px 0 0px 500px;
}
.details {
    display: flex;
    flex-direction: column;
    gap: 80px;
    position: relative;
}
.title{
    width: 722px;
    height: 236px;
}

.title h1{
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    padding: 80px 0;
}
.title span{
    color: var(--secondary-color);
}
.star {
    position: absolute;
    top: -100px;
    width: 26px;
    height: 32px;
}
.chain {
    position: absolute;
    top: 36%;
    left: 84%;
    width: 86px;
    height: 86px;
}
.bulb {
    position: absolute;
    top: 30px;
    left: 77%;
    width: 53px;
    height: 73px;
}


.countdown{
    font-size: 64px;
    font-family: 'Unica one', sans-serif;
    
}
.time{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}
.countdown small{
    margin-left: -11px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;


}
.faded{
    position: absolute;
    top: 400px;
    left: 65%;
    width: 26px;
    height: 32px;
    color: grey;
}
.photos { 
    /* margin-left: 10px; */
    width: 800px;
    height: 400px;
    position: relative;
    background-blend-mode: screen;
}
.google{
    object-fit: cover;
    z-index: -1;
    background-blend-mode: hard-light;
   

}
.reaction {
    position: absolute;
    top:0;
    left: -2%;
    
   
}
.spark {
    position: absolute;
    top: 50%;
    left: 3%;;
    width: 58px;
    height: 58px;
    flex-shrink: 0;
}

/* intro */
.intro{
    display: flex;
    padding: 50px 0;
    height: 617px;; 
    align-items: bottom;
 

}
.image{
    display: flex;
}

.straw {
    width: 49.43px;
    height: 57.974px;
    margin: 420px 0 0 -30px;

}
.intro h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700; 
    word-wrap: nowrap;
    margin-top: 50px;
    
}
.idea {
    width: 490px;
    height: 477px;
    position: relative;
    
}
.intro h3 span{
    display: block;
    color: var(--secondary-color);
}

.idea-info {
    margin:80px 0 0 -150px;
    position: relative;
}

.pink-star {
    width: 30px;
    height: 36px;
    position: absolute;
    top: 15%;
    right: -80px;
}
/* rules */

.rule-info{
    width: 6i0px;
    
}

.image {
    display: flex;
    align-items: center;
}

.woman {
    width: 664px;
height: 664px;
margin-left: 40px;
}




@media screen and (max-width: 575px) {
    
    
}