.navbar {
    /* padding: 25px 170px 10px 320px; */
    align-items: center;
    margin-bottom: 0;
}

.navbar-nav{
    margin-right: 90px;
}

.navbar-nav .nav-item {
    margin-left: 40px;
}
.navbar-nav .nav-item a {
    color: #fff;
}

/* home */
.home {
    height: 900px;
}

.head{
    position: absolute;
    left: 40%;
    
}
.home .header{
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 3px;
    
}
.head svg{
    margin:-30px 0 0px 500px;
}
.details {
    display: flex;
    flex-direction: column;
    gap: 150px;
    position: relative;
    margin-top: 40px;
}
.title{
    width: 722px;
    height: 236px;
}

.title .header{
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    padding: 80px 0;
    letter-spacing: -2px;
    word-spacing: -5px;

}
.title span{
    color: var(--secondary-color);
}

.chain {
    position: absolute;
    top: 27%;
    left:70%;
    width: 86px;
    height: 86px;
}
.bulb {
    position: absolute;
    top: 30px;
    left: 60%;
    width: 53px;
    height: 73px;
}


.countdown{
    font-size: 64px;
    font-family: 'Unica one', sans-serif;
    
}
.time{
    display: flex;
    flex-direction: column;
    gap: 150px;
    position: relative;
}
.countdown small{
    margin-left: -11px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.home .star{
    top: 0px;
    left: 5%;
}
.home .faded{
    top: 80%;
    left: 65%;
}
/* photos */
.photos { 
    width: 828px;
    height: 715px;
    position: relative;
    background-blend-mode: screen; 
    left: -22%;
    top: 11%;
}
.google{
    object-fit: cover;
    width: 828px;
    z-index: -1;
    
}
.reaction {
    position: absolute;
    top:-10%;
    left: 2%;
    background-blend-mode: hard-light;
}
.spark {
    position: absolute;
    top: 20%;
    left: 16%;;
    width: 58px;
    height: 58px;
    flex-shrink: 0;
}

/* intro */
.intro{
    display: flex;
    height: 617px;; 

}
.image{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.straw {
    width: 49.43px;
    height: 57.974px;
    margin: 420px 0 0 -30px;

}

.idea {
    width: 490px;
    height: 477px;
    position: relative;
    
}

.idea-info, .rule-info{
    width: 535px;
    word-wrap: break-word;
    position: relative;
    padding-right: 15px;
}


.idea-info .pink-star {
    top: 20%;
    left: -110%;
}
/* rules */
.woman {
    width: 664px;
    height: 664px;
    z-index: 10;
}
.rule{ 
    position: relative;
}
.ellipse{
    position: absolute;
    top: 15%;
    right: 8%;
    /* z-index: -1; */

}
.rule-info .faded {
    top: 30px;
    left: 50%;
}


.rule-info .star {
    bottom: 0%;
    left: 100%;
}

/* stat */
.stat {
    height: 900px;
    margin-bottom: 70px;
    
}
.stat .info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 535px;
}

.stat .info h3 {
    margin-bottom: 30px;
}
.stat p {
    font-weight: 700;
    font-size: 16px;
    
}
p span {
    color: var(--secondary-color);
}
@media screen and (max-width: 575px) {
    
    
}