
.home {
    height: 900px;
}

.head{
    position: absolute;
    left: 42%;
    
}
.home .header{
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: -1px;
    
}
.head svg{
    margin:-30px 0 0px 360px;
}
h1 {
    width: 722px;
    height: 236px;
}
.details {
    display: flex;
    flex-direction: column;
    gap: 150px;
    position: relative;
    margin-top: 40px;
}
.title{
    width: 722px;
    height: 236px;
}

.title .header{
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    padding-top: 80px ;
    letter-spacing: -2px;
    word-spacing: -5px;

}
.title span{
    color: var(--secondary-color);
}


.bulb {
    position: absolute;
    top: 30px;
    left: 60%;
    width: 53px;
    height: 73px;
}


.countdown{
    font-size: 64px;
    font-family: 'Unica one', sans-serif;
    
}
.time{
    display: flex;
    flex-direction: column;
    gap: 150px;
    position: relative;
}
.countdown small{
    margin-left: -11px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.home .star{
    top: 0px;
    left: 5%;
}
.home .faded{
    top: 80%;
    left: 55%;
}
/* photos */

.photos { 
    width: 810px;
    height: 715px;
    position: relative;
    right: 30%;
    top: 11%;
   
}
.chain {
    position: absolute;
    top: 20%;
    left:10%;
    width: 86px;
    height: 86px;
}
.google{
    /* max-height: 715px; */
    z-index: -1;
    object-fit: contain;
    
}
.photos .faded {
    top: 0px;
    left: 25%;
    
}
.reaction {
    position: absolute;
    top:-10%;
    left: 2%;
    object-fit: contain;
    background-blend-mode: hard-light;

}
.spark {
    position: absolute;
    top: 20%;
    left: 20%;;
    width: 58px;
    height: 58px;
    flex-shrink: 0;
}


@media screen and (max-width: 575px) {
    
    
}