<section>
    <div class="flare"></div>
    <div class="section">
        <div class="head">
            <p class="header">Igniting a Revolution in HR Innovation</p>
            <svg width="255" height="17" viewBox="0 0 255 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 14.043C43.3333 5.7097 154.4 -5.95697 254 14.043" stroke="#FF26B9" stroke-width="5"/>
                </svg>    
        </div>
            
        <div class="row">
            <div class="col-md-12 content">
                <div class="col-md-8" class="details">
                    <div class="title">
                        <h1 class="header">getLinkedTech Hackathon <span>1.0</span></h1>
                        <!-- star -->
                        <img class="star" src="/assets/images/star.png" alt="star">
                        <!-- bulb -->
                    <img class="bulb" src="/assets/images/creativity.png" alt="creativity">

                        <!-- chain -->
                        <img class="chain" src="/assets/images/chain.png" alt="chain">

                        <!-- star2 -->
                        <img class="faded" src="/assets/images/star-faded.png" alt="faded-star">     
                    </div>
                    
                    <div class="time">
                        <app-button></app-button>
                        <p class="countdown">00 <small>H</small> 00 <small>M</small> 00 <small>S</small></p>
                    
                    </div>
                </div>
                <!-- photo -->
                <div class="col-md-4 photos">
                    <img class="google" src="/assets/images/man-wearing-smart-glasses-touching-virtual-screen.png" alt="man wearing virtual google">
                    <!-- spark -->
                    <img class="spark" src="/assets/images/spark.png" alt="spark">
                    <!-- reaction -->
                    <img class="reaction" src="/assets/images/reaction.png" alt="creative">
                </div>
            </div>
        </div>
    </div>

<hr>

<section class="intro">
    <div class="section">
        <div class="row">
            <div class="col-md-12 image">
                <div class="col-md-8">
                <img  class="idea" src="/assets/images/the big idea.png" alt="big-idea">
                    <img class="straw" src="/assets/images/arrow.png" alt="straw">
                </div>
                <div class="col-md-4 idea-info">
                    <h3 class="header">Introduction to getlinked
                    <span>tech Hackathon 1.0</span></h3>
                    <img class="pink-star" src="/assets/images/star pu.png" alt="">
                    <p>Our tech hackathon is a melting pot of visionaries, and its purpose is as
                        clear as day: to shape the future. Whether you're a coding genius, a 
                        design maverick, or a concept wizard, you'll have the chance to transform 
                        your ideas into reality. Solving real-world problems, pushing the boundaries
                        of technology, and creating solutions that can change the world,
                        that's what we're all about!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="rules"> 
    <!-- <div class="flare"></div>     --> -->

    <div class="section">
        <div class="row">
            <div class="col-md-12 image">
                <div class="col-md-6 rule-info">
                    <h3 class="header">Rules and   
                    <span>Guidelines</span></h3>
                    <img class="pink-star" src="/assets/images/star pu.png" alt="">
                    <p>Our tech hackathon is a melting pot of visionaries, and its purpose is as
                        clear as day: to shape the future. Whether you're a coding genius, a 
                        design maverick, or a concept wizard, you'll have the chance to transform 
                        your ideas into reality. Solving real-world problems, pushing the boundaries
                        of technology, and creating solutions that can change the world,
                        that's what we're all about!</p>
                </div>
                <div class="col-md-6">
                    <img class="woman" src="/assets/images/rules.png" alt="woman">
                    
                </div>
                
            </div>
        </div>
    </div>
</section>
<hr>
<!-- judge -->
<section class="intro">
    <div class="section">
        <div class="row">
            <div class="col-md-12 image">
                <div class="col-md-8">
                <img  class="idea" src="/assets/images/the big idea.png" alt="big-idea">
                    <img class="straw" src="/assets/images/arrow.png" alt="straw">
                </div>
                <div class="col-md-4 idea-info">
                    <h3 class="header">Introduction to getlinked
                    <span>tech Hackathon 1.0</span></h3>
                    <img class="pink-star" src="/assets/images/star pu.png" alt="">
                    <p>Our tech hackathon is a melting pot of visionaries, and its purpose is as
                        clear as day: to shape the future. Whether you're a coding genius, a 
                        design maverick, or a concept wizard, you'll have the chance to transform 
                        your ideas into reality. Solving real-world problems, pushing the boundaries
                        of technology, and creating solutions that can change the world,
                        that's what we're all about!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<!-- faqs -->
<section class="rules"> 
    <!-- <div class="flare"></div>     --> -->

    <div class="section">
        <div class="row">
            <div class="col-md-12 image">
                <div class="col-md-6 rule-info">
                    <h3 class="header">Rules and   
                    <span>Guidelines</span></h3>
                    <img class="pink-star" src="/assets/images/star pu.png" alt="">
                    <p>Our tech hackathon is a melting pot of visionaries, and its purpose is as
                        clear as day: to shape the future. Whether you're a coding genius, a 
                        design maverick, or a concept wizard, you'll have the chance to transform 
                        your ideas into reality. Solving real-world problems, pushing the boundaries
                        of technology, and creating solutions that can change the world,
                        that's what we're all about!</p>
                </div>
                <div class="col-md-6">
                    <img class="woman" src="/assets/images/rules.png" alt="woman">
                    
                </div>
                
            </div>
        </div>
    </div>
</section>
<hr>